In [106]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")

In [107]:
elo_hard=pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Hard where Date > '2022-01-01' and Date not like '{time_now_formatted}' --and Fav_odds>1.2 and Fav_odds<1.4 ",
    con=devengine,)

In [108]:
winner_dataset=elo_hard[['Date','Winner','Winner_Odds']].copy()
winner_dataset['Player']=winner_dataset['Winner']
winner_dataset['Odds']=winner_dataset['Winner_Odds']
winner_dataset['Win/Loss']='Win'
loser_dataset=elo_hard[['Date','Loser','Loser_Odds']].copy()
loser_dataset['Player']=loser_dataset['Loser']
loser_dataset['Odds']=loser_dataset['Loser_Odds']
loser_dataset['Win/Loss']='Loss'
winner_dataset.drop(columns=['Winner','Winner_Odds'],inplace=True)
loser_dataset.drop(columns=['Loser','Loser_Odds'],inplace=True)
data_concat=pd.concat([winner_dataset,loser_dataset])
data_concat=data_concat.sort_index()

In [109]:
player1='Rinky Hijikata'
player2='Dane Sweeny'

In [110]:
player1=data_concat[data_concat['Player']==player1]
player1['Streak'] = player1['Win/Loss'].groupby((player1['Win/Loss'] != player1['Win/Loss'].shift()).cumsum()).cumcount() + 1
player1['Streak']=player1.apply(lambda x: 'W'+str(x['Streak']) if x['Win/Loss']=='Win' else 'L'+str(x['Streak']),axis=1)
player1.tail(10)

            Date          Player  Odds Win/Loss Streak
6659  2022-10-11  Rinky Hijikata  1.02      Win     W1
6737  2022-10-12  Rinky Hijikata  3.09     Loss     L1
7060  2022-10-18  Rinky Hijikata  1.93     Loss     L2
7425  2022-10-26  Rinky Hijikata  1.26      Win     W1
7497  2022-10-27  Rinky Hijikata  1.18      Win     W2
7522  2022-10-28  Rinky Hijikata  2.39      Win     W3
7563  2022-10-29  Rinky Hijikata  1.84      Win     W4
7617  2022-10-30  Rinky Hijikata  1.26      Win     W5
7754  2022-11-01  Rinky Hijikata   1.3     Loss     L1
7999  2022-11-08  Rinky Hijikata  1.33     Loss     L2

In [111]:
player2=data_concat[data_concat['Player']==player2]
player2['Streak'] = player2['Win/Loss'].groupby((player2['Win/Loss'] != player2['Win/Loss'].shift()).cumsum()).cumcount() + 1
player2['Streak']=player2.apply(lambda x: 'W'+str(x['Streak']) if x['Win/Loss']=='Win' else 'L'+str(x['Streak']),axis=1)
player2.tail(10)

            Date       Player  Odds Win/Loss Streak
4934  2022-08-26  Dane Sweeny  1.96      Win     W3
4986  2022-08-27  Dane Sweeny  2.55     Loss     L1
5087  2022-08-30  Dane Sweeny  1.99      Win     W1
5228  2022-09-01  Dane Sweeny  2.24      Win     W2
5273  2022-09-02  Dane Sweeny  2.86     Loss     L1
5375  2022-09-06  Dane Sweeny  1.55     Loss     L2
7362  2022-10-25  Dane Sweeny  1.11      Win     W1
7482  2022-10-27  Dane Sweeny  1.57     Loss     L1
7746  2022-11-01  Dane Sweeny  2.03     Loss     L2
8003  2022-11-08  Dane Sweeny  2.06     Loss     L3